.mat-subheading-2 {
  color: #646464 !important;
  font-weight: 500 !important;
}

.mat-body-2 {
  color: #646464 !important;
  padding-bottom: 2em !important;
  border-bottom: #e2e2e2 2px solid;
  white-space: normal !important;
}

.comment-time {
  color: #bfbfbf;
  float: right;
  font-size: 14px;
}

.mat-list-item-content {
  height: auto !important;
  min-height: 72px !important;
}
