<md-list>
  <md-list-item *ngFor="let comment of comments" class="list-item">
    <img md-list-avatar src="{{comment.user.avatar}}" alt="...">
    <h3 md-line class="mat-subheading-2"> {{comment.user.name}} <span class="comment-time">{{comment.time.substring(16, 21)}}</span></h3>
    <p md-line class="mat-body-2" *ngIf="!comment.editing" (click)="enableEdit(comment)"> {{comment.text}} </p>
    <md-input-container md-line class="mat-body-2" floatPlaceholder="never" *ngIf="comment.editing">
      <input mdInput placeholder="Edit comment..." [(ngModel)]="comment.text">
      <md-icon mdSuffix fontSet="fa" fontIcon="fa-pencil" (click)="comment.editing = false" color="accent"></md-icon>
    </md-input-container> 
  </md-list-item>
</md-list>

