<div class="mat-app-background">

  <md-toolbar color="primary">
    <md-icon fontSet="fa" fontIcon="fa-users"></md-icon>
    <md-icon fontSet="fa" fontIcon="fa-bars"></md-icon>
    <md-icon fontSet="fa" fontIcon="fa-search"></md-icon>
    <span class="fill-remaining-space"></span>
    <md-icon fontSet="fa" fontIcon="fa-calendar-minus-o"></md-icon>
    <md-icon fontSet="fa" fontIcon="fa-envelope-o"></md-icon>
    <div class="toolbar-avatar-container">
      <img class="toolbar-avatar" src="{{users[0].avatar}}" alt="...">
    </div>
  </md-toolbar>

  <app-conversation
    [fromUser]="users[0]" [toUser]="users[1]" status="ONLINE"></app-conversation>
</div>
